.card{
    border: 1px solid #dbdbdb;
    background-color: #fff;
    transition: box-shadow .1s linear;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
    margin: 10px 5px;
}

.card:hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}